* {
  font-size: 20px;
  color: #eee;
}

html {
  min-width: 500px;
  max-width: 1200px;
  @media (min-width: 1240px) {
    margin: 0 auto;
  }
}

body {
  background-color: rgba(0, 0, 0, 0.8);

  h1 { // stylelint-disable-line
    padding-top: 1em;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 40px;
  }

  h2 { // stylelint-disable-line
    padding-left: 0;
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 28px;
  }

  .nafn { // stylelint-disable-line
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 18px;
  }

  .hveGamalt { // stylelint-disable-line
    font-family: "Open Sans", helvetica, sans-serif;
    font-size: 16px;
  }
}
