* {
  color: #fff;
  font-size: 20px;

}
html {
  min-width: 500px;
  max-width: 1200px;
  @media (min-width: 1240px) {
    margin: 0 auto;
  }
}

body {
  background-color: rgba(0, 0, 0, 0.8);

  h1 {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 40px;
    padding-top: 1em;
  }

  h2 {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 28px;
    padding-left: 0em;
  }

  .nafn {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 18px;
  }

  .hveGamalt {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-size: 16px;
  }
}
